<app-navbar></app-navbar>
<ion-content>
  <ion-card (click)="redirect('/menu/food/burgers')">
    <ion-card-header>
      <ion-card-title>BURGERI</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/pizzas')">
    <ion-card-header>
      <ion-card-title>PIZZE</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/fish')">
    <ion-card-header>
      <ion-card-title>JELA OD RIBE</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/chicken')">
    <ion-card-header>
      <ion-card-title>PILETINA</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/grill')">
    <ion-card-header>
      <ion-card-title>ROŠTILJ</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/platters')">
    <ion-card-header>
      <ion-card-title>PLATE</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/sandwich')">
    <ion-card-header>
      <ion-card-title>SENDVIČI</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/deserts')">
    <ion-card-header>
      <ion-card-title>DESERTI</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/salads')">
    <ion-card-header>
      <ion-card-title>SALATE</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="redirect('/menu/food/addons')">
    <ion-card-header>
      <ion-card-title>DODATCI</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<!--<ion-button color="primary" expand="round" [routerLink]="['']" style="position: fixed; bottom: 50px; right:10px; z-index: 15px;">Natrag</ion-button>-->
<app-buttons></app-buttons>
<app-footer></app-footer>